{% extends 'base.html' %}

{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <table id="price-list" class="container" border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Наименование работ</th>
                <th>Ед. изм.</th>
                <th>Цена, руб.</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>



    <section class="calculator container">
        <h2 class="calcTitle">
            Калькулятор
        </h2>
        
        <div class="calcTableBody">
            <div id="table_header" class="tableRow">
                <div class="tableName">
                    Название
                </div>
        
                <div class="tableCount">
                    Кол-во (шт)
                </div>
        
                <div class="tablePrice">
                    Цена (руб)
                </div>
            </div>

            <div class="tableRow">
                <img class="addRowIcon" src="{% static 'images/plus.svg' %}">
                    
                <div class="choiceMenu">
                     
                </div>

            </div>
        </div>

        <div class="sumContainer">
            <div class="totalPrice">
                <p class="totalPriceLabel">Цена всего</p>
                <p class="totalPriceValue">0 рублей</p>
            </div>

            <div class="totalCount">
                <p class="totalCountLabel">Количество</p>
                <p class="totalCountValue">0 услуг</p>
            </div>
        </div>
    </section>
    

    <div id="staticUrls" 
     data-plus="{% static 'images/plus.svg' %}" 
     data-minus="{% static 'images/minus.svg' %}" 
     data-trash="{% static 'images/trash.svg' %}"></div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}