{% extends 'base.html' %}

{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
<div role="main" class="main">
    <section class="section section-tertiary section-no-border pb-3 mt-0">
        <div class="container">
            <div class="row justify-content-end mt-4">
                <div class="col-lg-10 pt-4 mt-4 text-right">
                    <h1 class="text-uppercase font-weight-light mt-4 pt-3 text-color-primary">Blog</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-2">
            <div class="col">
                <div class="blog-posts single-post mt-4">

                    <article class="post post-large blog-single-post">

                        <div class="post-date">
                            <span class="day">{{ data.day }}</span>
                            <span class="month">{{ data.mounth }}</span>
                        </div>

                        <div class="post-content">

                            <h1 class="mb-3">{{ data.name }}</h1>

                            <div class="post-meta">
                                <span><i class="far fa-user"></i> By <a href="#">{{ data.author.fullname }}</a> </span>
                                <span><i class="far fa-folder"></i><a href="#">{{ data.category }}</a> </span>
                                <span><i class="far fa-comments"></i> <a href="#">{{ data.comments.count }}</a></span>
                            </div>

                            <img src="{{ data.photo.url }}" class="img-fluid float-right mb-3 mb-1 ml-sm-4 ml-lg-5" alt="" style="width: 360px;">

                            <p class="lead">{{ data.description }}</p>

                            <p>{{ data.first_paragraph }}</p>
                            <p>{{ data.second_paragraph }}</p>
                            <p>{{ data.third_paragraph }}</p>
                            <p>{{ data.fourth_paragraph }}</p>


                            <div class="pt-2 pb-1">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style">
                                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                    <a class="addthis_button_tweet"></a>
                                    <a class="addthis_button_pinterest_pinit"></a>
                                    <a class="addthis_counter addthis_pill_style"></a>
                                </div>
                                <script type="text/javascript" src="{% static '//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53' %}"></script>
                                <!-- AddThis Button END -->
                            </div>

                            <div class="post-block post-author mt-4 clearfix">
                                <h4 class="mt-4 mb-3">Author</h4>
                                <div class="img-thumbnail d-block">
                                    <a href="#">
                                        <img src="{{ data.author.photo.url }}" alt="">
                                    </a>
                                </div>
                                <p><strong class="name mb-3">{{ data.author.fullname }}</strong></p>
                                <p class="mt-1">{{ data.author.description }}</p>
                            </div>

                            <div class="post-block post-comments clearfix">
                                <h4 class="mt-4 mb-3">Comments</h4>

                                <ul class="comments">
                                    {% for item in data.comments.all %}

                                        <li>
                                            <div class="comment">
                                                <div class="img-thumbnail d-none d-sm-block">
                                                    <img class="avatar" alt="" src="{{ item.author.photo.url }}">
                                                </div>
                                                <div class="comment-block">
                                                    <div class="comment-arrow"></div>
                                                    <span class="comment-by">
                                                        <strong>{{ item.author.fullname }}</strong>
                                                    </span>
                                                    <p>{{ item.message }}</p>
                                                    <span class="date float-right">{{ item.date }}</span>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>

                            <div class="post-block post-leave-comment mb-4">
                                <input type="text" id="work_id" value="{{ data.id }}" style="opacity: 0;">
                                <h4 class="mb-3">Leave a Comment</h4>

                                <form action="" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label>Your name *</label>
                                            <input type="text" value="" maxlength="100" class="form-control" name="name" id="name">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Your email address *</label>
                                            <input type="email" value="" maxlength="100" class="form-control" name="email" id="email">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Comment *</label>
                                            <textarea maxlength="5000" rows="10" class="form-control" name="comment" id="comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <input type="submit" value="Post Comment" id="SendCommentBlog" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </article>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}